
training:
  use_coco: True
  only_detect: True
  num_classes: 54
  epochs: 25

optimizer:
  name: SGD
  params:
    lr: 0.001
    momentum: 0.9
    weight_decay: 0.0005

lr_scheduler:
  name: StepLR
  params:
    step_size: 30
    gamma: 0.1

dataset:
  name: MTSD
  mtsd_labels: 
  num_workers: 4
  threshold: 900
  keep_other: False
  train:
    do_transforms: true
    batch_size: 4
    transforms:
      min_area: 0
      img_size: 1000
  val:
    do_transforms: false
    batch_size: 2
    transforms:
      min_area: 0
      img_size: 
  test:

utils:
  log_dir: logs
  log_dir_json: logs_json
  model_dir: saved_models

checkpoint:
  resume: True
  path: C:\Users\saibo\Documents\bachelor_project\outputs\2022-05-16\20-20-47


